html, body {
    margin: 0;
    height:100%;
}



/* This rule isn't used in the project as distributed, because the JavaScript
code hides the video element. */
body video {
    position: absolute;
    opacity: 1;

}
